# Required for all uses
TWILIO_ACCOUNT_SID=ACb2f4840ee50f3f45cb3a0b61f39c42bd
TWILIO_API_KEY=SK21c22a9fc67be6c30b8015e983aa4c0d
TWILIO_API_SECRET=yE4rvxmUR7Oo6gKgbCT3nMQptgVl5A7x

# Required for Chat
TWILIO_CHAT_SERVICE_SID=IS7c788fa6604c427e817ebe049e67c067

# Required for Notify
# TWILIO_NOTIFICATION_SERVICE_SID=IS92ddd8cd3bda373ce8a1fa7a3a1bf83f

# Optional for Sync. By default, the app uses the 'default' instance on your account.
# TWILIO_SYNC_SERVICE_SID=ISXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
